@using System.Threading.Tasks
@model _05_MvcWebUI.Models.LoginViewModel

@{
    ViewBag.Title = "title";
    Layout = ""; }
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section"></h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap">
                        <h3 class="mb-4 text-center">Have an account?</h3>
                        <form asp-controller="Account" asp-action="Login" method="post" class="signin-form" role="form">
                            <div class="form-group mb-3">
                                <input asp-for="UserName" class="form-control" placeholder="User Name" />
                                <span asp-validation-for="UserName"></span>
                            </div>
                            <div class="form-group mb-3">
                                <input id="password-field" type="password" asp-for="Password" class="form-control" placeholder="Password" />
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password" asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group mb-3">
                                <button type="submit" value="Login" class="form-control btn btn-primary submit px-3">Sign In</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50">
                                    <label class="checkbox-wrap checkbox-primary">
                                        Remember Me
                                        <input type="checkbox" checked="">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#" style="color: #fff">Forgot Password</a>
                                </div>
                            </div>
                        </form>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Register">
                                Sign Up Here
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>



@*<div class="container">
        <div class="row">
            <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                    </div>
                    <div style="padding-top:30px" class="panel-body">
                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                        <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input asp-for="UserName" class="form-control" placeholder="username" />
                                <span asp-validation-for="UserName"></span>
                            </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input asp-for="Password" class="form-control" placeholder="password" />
                                <span asp-validation-for="Password"></span>
                            </div>

                            <div class="input-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="RememberMe" /> Remember Me
                                    </label>
                                </div>
                            </div>

                            <div style="margin-top:10px" class="form-group">
                                <div class="col-sm-12 controls">
                                    <input type="submit" class="btn btn-success" value="Login" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12 control">
                                    <div style="border-top:1px solid#888; padding-top:15px; font-size:85%">
                                        Don't have an account?
                                        <a asp-controller="Account" asp-action="Register">
                                            Sign Up Here
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>*@